{% extends "base.html.twig" %}

{% block title %}CRUD article page{% endblock %}
{% block title_header %}CRUD article{% endblock %}

{% block content %}

<main style="min-height: 75vh" class="container">

    <h1>Article index</h1>

    <table  class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Content</th>
                <th>Username</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td class="pt-3">{{ article.id }}</td>
                <td class="pt-3">{{ article.title }}</td>
                <td class="pt-3">{{ article.date }}</td>
                <td class="pt-3">{{ article.content }}</td>
                <td class="pt-3">{{ article.user.username|default('None') }}</td>
                <td>
                    <a class="m-1 btn btn-info" href="{{ path('app_admin_article_show', {'id': article.id}) }}">show</a>
                    <a class="m-1 btn btn-warning" href="{{ path('app_admin_article_edit', {'id': article.id}) }}">edit</a>
                    <a class="m-1 btn btn-danger" href="{{ path('app_admin_article_delete', {'id': article.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
    <a class="btn btn-success" href="{{ path('app_admin_article_new') }}">Create new</a>
    </div>
</main>
{% endblock content %}
